.container{
    width: 100vw;
    height: 100vh;
    color: var(--index-color);
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform: scale(1.1);
    filter: blur(10px);
    -webkit-filter: blur(10px);
}